.card{
    width: 300px;
    height: 300px;
    background-color: rgb(201, 200, 200);
    color: gray;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #22222270;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}
.card:hover{
    transform: translateY(-20px);
    transition: 1s;
}
.card h3{
    color: rgb(68, 68, 69);
}
.card p{
    color: #555;
}
.card_footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_icones{
    display: flex;
    font-size: 1.5rem;
    gap: 10px;
    transition: all 1s;
}
.card_icones:hover{
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.2);
}
.card_button{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: rgb(118, 115, 115);
    color: #fff;
    border-radius: 8px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s;
}
.card_button:hover{
    background-color: rgb(91, 89, 89);
    transform: scale(1.05);
    transition: all 1s;
}