.bannerFundo{
    background-image: url('/src/assets/Banner.png');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.titulo{
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 100px;
}
.paragrafo{
    font-size: 1.25rem;
    margin-top: 50px;
}